@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0px auto;
  background-color: #f8faff;
}

@layer base {
  header,
  main,
  footer {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
  }
}

header {
  z-index: 10;
}

@layer base {
  @font-face {
    font-family: Anton;
    font-weight: 500;
    src: url(/src/assets/fonts/Anton-Regular.ttf) format('ttf');
  }
}

@layer base {
  @font-face {
    font-family: Oswald;
    font-weight: 500;
    src: url(/src/assets/fonts/Oswald-VariableFont_wght.ttf) format('ttf');
  }
}

@layer base {
  @font-face {
    font-family: Roboto-m;
    font-weight: 500;
    src: url(/src/assets/fonts/Roboto-Medium.ttf) format('ttf');
  }
}

@layer base {
  .logo-title {
    font-family: Anton;
    color: #000;
  }
  .greenCap {
    color: #206074;
  }
}

a {
  font-family: Oswald;
  font-size: 1.4rem;
  color: #2f4858;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
  /* border-bottom: 2px solid #2f4858; */
}

@layer base {
  body {
    background-color: #1f2d3b;
  }
}

h1 {
  font-size: 3.4rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}

h1 h2 h3 h4 h5 h6 {
  padding: 0px;
  margin: 0px;
}

button {
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #00c898;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #ff0000;
  color: #f8faff;
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* STYLE */

.bg-color-top {
  background-color: #00c898;
}

/* Styling of contact form */

input[id='contact_form'],
textarea[id='contact_form'],
select {
  min-width: 200px;
  max-width: 350px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 4px;
  margin: 5px;
}

input[id='contact_form']:hover,
textarea[id='contact_form']:hover {
  border-color: #00c898;
}

textarea {
  height: 200px;
}
